[submodule "html/scripts/gitlab-manage-students"]
	path = scripts/gitlab-manage-students
	url = https://cci-git.charlotte.edu/zwartell/gitlab-student-repos.git
	branch = main
[submodule "www-site/git_modules/zjwgi"]
	path = www-site/git_modules/zjwgi
	url = https://gitlab.com/zwartell/zjw-generic-instructions.git
	branch = version2