# This file is a template, and might need editing before it works on your project.
# Full project: https://gitlab.com/pages/plain-html 
pages:
  stage: deploy
  script:
    - mkdir .public
    - mkdir .public/scripts
    - git submodule init
    - git submodule update
    - rm -rf www-site/git_modules/zjwgi/.git   # no need to deploy 
    - cp -r www-site* .public
    - git show --no-patch --no-notes --pretty='%cd' $CI_COMMIT_SHA > REVISION.txt
    - cat REVISION.txt
    #- . ./html/scripts/revision.sed
    #- cp html/scripts/git-tutorial-troubleshooter .public/scripts/git-tutorial-troubleshooter.sh
    - pushd .public/www-site/git_modules/zjwgi/scripts
    - chmod u+x ./init-template
    - ./init-template -p www-
    - popd
    - mv .public public
  artifacts:
    paths:
      - public
  only:
    - master
