# This file is a template, and might need editing before it works on your project.
# Full project: https://gitlab.com/pages/plain-html 
pages:
  stage: deploy
  script:
    - mkdir .public
    - mkdir .public/scripts
    - cp -r html/Site\ Root/* .public
    - cp -r scripts/git-tutorial-troubleshooter .public/scripts
    - mv .public public
  artifacts:
    paths:
      - public
  only:
    - master
